<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cc.mapper.FileMapper">

	<resultMap id="FileMap" type="com.cc.entity.File">
		<id property="id" column="ID" />
		<result property="file_id" column="file_id" />
		<result property="file_name" column="file_name" />
		<result property="file_type" column="file_type" />
		<result property="file_extension" column="file_extension" />
		<result property="upload_time" column="upload_time" />
		<result property="upload_id" column="upload_id" />
		<result property="file_path" column="file_path" />
		<result property="title" column="title" />
		<result property="description" column="description" />
		<result property="link_id" column="link_id" />
		<result property="save_time" column="save_time" />
		<result property="is_delete" column="is_delete" />
		<result property="upload_ip" column="upload_ip" />
		<result property="is_enable" column="is_enable" />
		<result property="file_size" column="file_size" />
	</resultMap>


	<sql id="FileColumns">
		file_id, file_name, file_type, file_extension, upload_time, upload_id,
		file_path, title, description, link_id, save_time, is_delete,
		upload_ip, is_enable,file_size
	</sql>

	<!-- 很据条件查询店铺的全部 -->
	<select id="listPageFile" resultMap="FileMap" parameterType="com.cc.entity.File">
		select
		<include refid="FileColumns" />
		from file where 1=1
		<if test="file_id !=null and file_id!=''">
			and file_id=#{file_id}
		</if>
		<if test="file_name !=null and file_name!=''">
			and file_name=#{file_name}
		</if>
		<if test="file_type !=null and file_type!=''">
			and file_type=#{file_type}
		</if>
		<if test="file_extension !=null and file_extension!=''">
			and file_extension=#{file_extension}
		</if>
		<if test="upload_time !=null and upload_time!=''">
			and upload_time=#{upload_time}
		</if>
		<if test="upload_id !=null and upload_id!=''">
			and upload_id=#{upload_id}
		</if>
		<if test="file_path !=null and file_path!=''">
			and file_path=#{file_path}
		</if>
		<if test="title !=null and title!=''">
			and title=#{title}
		</if>
		<if test="description !=null and description!=''">
			and description=#{description}
		</if>
		<if test="link_id !=null and link_id!=''">
			and link_id=#{link_id}
		</if>
		<if test="save_time !=null and save_time!=''">
			and save_time=#{save_time}
		</if>
		<if test="is_delete !=null and is_delete!=''">
			and is_delete=#{is_delete}
		</if>
		<if test="upload_ip !=null and upload_ip!=''">
			and upload_ip=#{upload_ip}
		</if>
		<if test="is_enable !=null and is_enable!=''">
			and is_enable=#{is_enable}
		</if>
		<if test="file_size !=null and file_size!=''">
			and file_size=#{file_size}
		</if>
	</select>

	<!-- 查询file的数量 -->
	<select id="getFileCount" resultType="Integer">
		select count(*)
		from file
	</select>

	<!-- 插入 -->
	<insert id="insertFile" parameterType="com.cc.entity.File" useGeneratedKeys="true"
		keyProperty="file_id">
		INSERT INTO file (
		file_id, file_name, file_type, file_extension, upload_time, upload_id,
		file_path, title, description, link_id, save_time, is_delete,
		upload_ip, is_enable,file_size
		) VALUES (
		#{file_id}, #{file_name}, #{file_type}, #{file_extension}, #{upload_time},
		#{upload_id}, #{file_path}, #{title}, #{description}, #{link_id},
		#{save_time}, #{is_delete}, #{upload_ip}, #{is_enable},#{file_size}
		)
	</insert>

	<!-- 根据主键查询(唯一) -->
	<select id="getFileById" parameterType="Integer" resultType="com.cc.entity.File">
		select
		<include refid="FileColumns" />
		from file where file_id=#{file_id}
	</select>

	<!-- 根据条件查询 file -->
	<select id="getFile" resultMap="FileMap" parameterType="com.cc.entity.File">
		select
		<include refid="FileColumns" />
		from file where 1=1
		<if test="file_id !=null and file_id!=''">
			and file_id=#{file_id}
		</if>
		<if test="file_name !=null and file_name!=''">
			and file_name=#{file_name}
		</if>
		<if test="file_type !=null and file_type!=''">
			and file_type=#{file_type}
		</if>
		<if test="file_extension !=null and file_extension!=''">
			and file_extension=#{file_extension}
		</if>
		<if test="upload_time !=null and upload_time!=''">
			and upload_time=#{upload_time}
		</if>
		<if test="upload_id !=null and upload_id!=''">
			and upload_id=#{upload_id}
		</if>
		<if test="file_path !=null and file_path!=''">
			and file_path=#{file_path}
		</if>
		<if test="title !=null and title!=''">
			and title=#{title}
		</if>
		<if test="description !=null and description!=''">
			and description=#{description}
		</if>
		<if test="link_id !=null and link_id!=''">
			and link_id=#{link_id}
		</if>
		<if test="save_time !=null and save_time!=''">
			and save_time=#{save_time}
		</if>
		<if test="is_delete !=null and is_delete!=''">
			and is_delete=#{is_delete}
		</if>
		<if test="upload_ip !=null and upload_ip!=''">
			and upload_ip=#{upload_ip}
		</if>
		<if test="is_enable !=null and is_enable!=''">
			and is_enable=#{is_enable}
		</if>
	</select>

	<!--更新 -->
	<update id="updateFile" parameterType="com.cc.entity.File">
		UPDATE file
		SET
		file_id=#{file_id}, file_name=#{file_name}, file_type=#{file_type},
		file_extension=#{file_extension}, upload_time=#{upload_time},
		upload_id=#{upload_id}, file_path=#{file_path}, title=#{title},
		description=#{description}, link_id=#{link_id},
		save_time=#{save_time}, is_delete=#{is_delete},
		upload_ip=#{upload_ip}, is_enable=#{is_enable},file_size=#{file_size}
		WHERE
		file_id=#file_id#
	</update>


	<!--根据条件删除 -->
	<delete id="deleteFile" parameterType="com.cc.entity.File">
		delete from file
		where 1=1
		<if test="file_id !=null and file_id!=''">
			and file_id = #{file_id}
		</if>
		<if test="file_name !=null and file_name!=''">
			and file_name = #{file_name}
		</if>
		<if test="file_type !=null and file_type!=''">
			and file_type = #{file_type}
		</if>
		<if test="file_extension !=null and file_extension!=''">
			and file_extension = #{file_extension}
		</if>
		<if test="upload_time !=null and upload_time!=''">
			and upload_time = #{upload_time}
		</if>
		<if test="upload_id !=null and upload_id!=''">
			and upload_id = #{upload_id}
		</if>
		<if test="file_path !=null and file_path!=''">
			and file_path = #{file_path}
		</if>
		<if test="title !=null and title!=''">
			and title = #{title}
		</if>
		<if test="description !=null and description!=''">
			and description = #{description}
		</if>
		<if test="link_id !=null and link_id!=''">
			and link_id = #{link_id}
		</if>
		<if test="save_time !=null and save_time!=''">
			and save_time = #{save_time}
		</if>
		<if test="is_delete !=null and is_delete!=''">
			and is_delete = #{is_delete}
		</if>
		<if test="upload_ip !=null and upload_ip!=''">
			and upload_ip = #{upload_ip}
		</if>
		<if test="is_enable !=null and is_enable!=''">
			and is_enable = #{is_enable}
		</if>
	</delete>

	<!--根据主键删除 -->
	<delete id="deleteFileByIds">
		delete from file where id in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
		</foreach>
	</delete>
</mapper>
