<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cc.mapper.LocationMapper">

	<resultMap id="LocationMap" type="com.cc.entity.Location">
		<result property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="lng" column="lng" />
		<result property="lat" column="lat" />
		<result property="createtime" column="createtime" />
		<result property="address" column="address" />
	</resultMap>


	<sql id="LocationColumns">
		id, user_id, lng, lat, createtime, address
	</sql>

	<!-- 很据条件查询店铺的全部 -->
	<select id="listPageLocation" resultMap="LocationMap"
		parameterType="com.cc.entity.Location">
		select
		<include refid="LocationColumns" />
		from location where 1=1
		<if test="id !=null and id!=''">
			and id=#{id}
		</if>
		<if test="userId !=null and userId!=''">
			and user_id=#{userId}
		</if>
		<if test="lng !=null and lng!=''">
			and lng=#{lng}
		</if>
		<if test="lat !=null and lat!=''">
			and lat=#{lat}
		</if>
		<if test="createtime !=null and createtime!=''">
			and createtime=#{createtime}
		</if>
		<if test="address !=null and address!=''">
			and address=#{address}
		</if>
	</select>

	<!-- 查询location的数量 -->
	<select id="getLocationCount" resultType="Integer">
		select count(*)
		from
		location
	</select>

	<!-- 插入 -->
	<insert id="insert" parameterType="com.cc.entity.Location"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO location (
		user_id,
		lng, lat, createtime, address
		) VALUES (
		#{userId}, #{lng}, #{lat},
		#{createtime}, #{address}
		)
	</insert>

	<insert id="insertSelective" parameterType="com.cc.entity.Location"
		useGeneratedKeys="true" keyProperty="id">
		insert into jz_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id !=null and id!=''">
				id,
			</if>
			<if test="userId !=null and userId!=''">
				user_id,
			</if>
			<if test="lng !=null and lng!=''">
				lng,
			</if>
			<if test="lat !=null and lat!=''">
				lat,
			</if>
			<if test="createtime !=null and createtime!=''">
				createtime,
			</if>
			<if test="address !=null and address!=''">
				address,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id !=null and id!=''">
				#{id},
			</if>
			<if test="userId !=null and userId!=''">
				#{userId},
			</if>
			<if test="lng !=null and lng!=''">
				#{lng},
			</if>
			<if test="lat !=null and lat!=''">
				#{lat},
			</if>
			<if test="createtime !=null and createtime!=''">
				#{createtime},
			</if>
			<if test="address !=null and address!=''">
				#{address},
			</if>
		</trim>
	</insert>

	<!-- 根据主键查询(唯一) -->
	<select id="getLocationById" parameterType="Integer" resultMap="LocationMap">
		select
		<include refid="LocationColumns" />
		from location where
		id=#{id}
	</select>

	<!-- 根据条件查询 location -->
	<select id="listLocation" resultMap="LocationMap" parameterType="com.cc.entity.Location">
		select
		<include refid="LocationColumns" />
		from location where 1=1
		<if test="id !=null and id!=''">
			and id=#{id}
		</if>
		<if test="userId !=null and userId!=''">
			and user_id=#{userId}
		</if>
		<if test="lng !=null and lng!=''">
			and lng=#{lng}
		</if>
		<if test="lat !=null and lat!=''">
			and lat=#{lat}
		</if>
		<if test="createtime !=null and createtime!=''">
			and createtime=#{createtime}
		</if>
		<if test="address !=null and address!=''">
			and address=#{address}
		</if>
	</select>

	<!--更新 -->
	<update id="updateLocation" parameterType="com.cc.entity.Location">
		UPDATE location
		SET
		id=#{id}, user_id=#{userId}, lng=#{lng}, lat=#{lat},
		createtime=#{createtime}, address=#{address}
		WHERE
		id=#{id}
	</update>
	<!--根据条件update -->
	<update id="updateByPrimaryKeySelective" parameterType="com.cc.entity.Location">
		UPDATE location
		SET
		<set>
			<if test="id !=null and id!=''">
				id = #{id},
			</if>
			<if test="userId !=null and userId!=''">
				user_id = #{userId},
			</if>
			<if test="lng !=null and lng!=''">
				lng = #{lng},
			</if>
			<if test="lat !=null and lat!=''">
				lat = #{lat},
			</if>
			<if test="createtime !=null and createtime!=''">
				createtime = #{createtime},
			</if>
			<if test="address !=null and address!=''">
				address = #{address},
			</if>
		</set>
		WHERE
		id=#{id}
		</update>


			<!--根据条件删除 -->
			<delete id="deleteLocation" parameterType="com.cc.entity.Location">
				delete from location
				where 1=1
				<if test="id !=null and id!=''">
					and id = #{id}
				</if>
				<if test="userId !=null and userId!=''">
					and user_id = #{userId}
				</if>
				<if test="lng !=null and lng!=''">
					and lng = #{lng}
				</if>
				<if test="lat !=null and lat!=''">
					and lat = #{lat}
				</if>
				<if test="createtime !=null and createtime!=''">
					and createtime = #{createtime}
				</if>
				<if test="address !=null and address!=''">
					and address = #{address}
				</if>
			</delete>
</mapper>